# MAC OS
.DS_Store

# bin
node_modules/.bin/jake
node_modules/.bin/strip-ansi

# generated directory
generated/

# sublime
draggingOnSvg.sublime-project
draggingOnSvg.sublime-workspace

# spikes
spikes/